.topnav{
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: 0px;
  padding-left: -0px;
  overflow: hidden;
  background-color: #fff; 
  }
  .tab{
      font-size: 12px; font-weight: 700; font-family:Roboto Slab, sans-serif; padding-top: 1px;padding-bottom: 15px; padding-right: 30px; background: #fff;color: #8f979b;
  }
  .tabtext:hover{
      color:rgb(36, 65, 119);
    }
  @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
        float: right;
        display: block;
      }
    }
  
    .topnav .icon {
      display: none;
    }
  
    @media screen and (max-width: 600px) {
    p {
      margin: 0 0 40px;
      }
    }
  
    @media screen and (max-width: 600px) {
      .main-sidebar {
        padding-top: 50px;
    }
      }
  
    @media screen and (max-width: 600px) {
      .main-header .logo {
        -webkit-transition: width .3s ease-in-out;
        -o-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        display: block;
        float: left;
        height: 0px;
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        width: 230px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        padding: 0 15px;
        font-weight: 300;
        overflow: hidden;
        }
      }
  
    @media screen and (max-width: 600px) {
      .topnav.responsive {position: relative;}
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
    }
  
  
    
      .loginForm {
        padding-right: 5px;
        padding-left: 10px;
        padding-top: 50px;
      }
  
  
    @media screen and (min-width: 600px) {
    .loginForm {
      padding-right: 450px;
      padding-left: 450px;
      padding-top: 100px;
    }
  }
  
  .loginimg{
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 50px;
    }
  @media screen and (min-width: 1000px) {
  .loginimg{
    padding-bottom: 20px; padding-left: 160px; padding-right: 50px;
  }
  }
  
  
  
  .image{
    width: 40%;
   height: 100%;
  }
  @media screen and (min-width: 900px) {
  .image{
    width: 20%;height: 100%;
  }
  }
  
  .loginCol{
    padding-left: 0px;padding-right:0px;
  }
  
  @media screen and (min-width: 900px) {
    .loginCol{
      padding-left: 11px;
  padding-right: 1px;
    }
    }
  
    .loginText{
      padding-left: 40px;
  font-size: 18px;
  color: black;
  padding-top: 10px;
    }
    @media screen and (min-width: 900px) {
      .loginText{
        padding-left:100px;font-size:20px;color: black;
      }
    }

    

    
    .forgotpasswordText{
      padding-left: 80px;
  font-size: 18px;
  color: black;
  padding-top: 10px;
    }
    @media screen and (min-width: 900px) {
      .forgotpasswordText{
        padding-left:140px;font-size:20px;color: black;
      }
    }
    .loginBorder{
     border-width: thin;border-radius: 5px;
    }

    @media screen and (min-width: 900px) {
    .loginBorder{
      border-style: solid; border-width: thin;border-radius: 5px; height:870px;
    }
    }

    

    .forgotpasswordBorder{
      border-width: thin;border-radius: 5px;
     }
 
     @media screen and (min-width: 900px) {
     .forgotpasswordBorder{
       border-style: solid; border-width: thin;border-radius: 5px; height:300px;
     }
     }